.row
  %h3
    I'm a software development engineer in Seattle, WA working at Amazon Web Services.
  = render "divider"
.row
  .col-sm-6.col-md-6
    .block
      %h3.left-header I like to:
      %ul 
        %li= link_to "knit lacy things", "www.ravelry.com/people/uniquechicstudio"
        %li 
          learn languages, both
          = link_to "computer", "https://github.com/rileyrileyrose"
          and 
          = link_to "human", "https://www.duolingo.com/rileyrileyrose"
        %li= link_to "write letters", "http://sendsomething.net"
        %li= link_to "play on aerial silks", "http://www.emeraldcitytrapeze.com/"
        %li= link_to "cook delicious food", "http://www.foodiewithfamily.com/classic-slow-cooker-cuban-pork-make-ahead-mondays-highlight/"
        %li= link_to "read poetry", "http://www.rjgeib.com/thoughts/geese/geese.html"
  .col-sm-6.col-md-6
    %p
      After graduating
      = link_to "high school", "http://www.idyllwildarts.org/"
      as a creative writing major and spending four years at a
      = link_to "Great Books college", "http://www.sjc.edu/"
      developing a solid foundation in critical thinking and analysis, I traveled
      = link_to "around the US", "https://www.google.com/search?q=homer,+alaska"
      , meeting new people and growing in
      = link_to "diverse communities.", "https://www.google.com/search?q=hood+river+oregon"
    %p
      I've long dabbled in basic web development and computer science, and in 2015, I started my computer science journey at
      = link_to "Ada Developer's Academy.", "http://adadevelopersacademy.org/" 
      I moved on to work as a software development engineer at 
      = link_to "AWS", "https://aws.amazon.com"
      , where I work across our full stack to provide Budgeting features to our customers.
    %p 
      My interest is currently piqued by the challenges of scaling large systems efficiently and distributed computing. 

