<div class="row">
  <h1>
    About Me
  </h1>
  <h4 class="subheader">
    I'm a junior software developer currently living in Seattle, WA.
  </h4>
</div>
<div class="divider "></div>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6">
    <h3 class="left-header">
      I like to:
    </h3>
    <div>
      - <%= link_to "knit lacy things", "www.ravelry.com/people/uniquechicstudio" %><br>
       - learn languages (<%= link_to "computer", "http://www.codewars.com/users/rileyrileyrose" %> and <%= link_to "human", "https://www.duolingo.com/rileyrileyrose" %>)<br>
       - write letters <br>
       - <%= link_to "practice yoga", "http://www.flowhoodriver.com/" %> <br>
       - cook delicious food<br>
       - <%= link_to "read poetry", "http://www.rjgeib.com/thoughts/geese/geese.html" %><br>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6">
    After graduating <%= link_to "high school", "http://www.idyllwildarts.org/" %> as a creative writing major, and spending four years at a <%= link_to "Great Books college", "http://www.sjc.edu/" %> developing a solid foundation in critical thinking and the development of Western Thought, I spent some time traveling <%= link_to "around the US", "https://www.google.com/search?q=homer,+alaska&espv=2&biw=1141&bih=578&site=webhp&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiY--O6l-nJAhUUT2MKHYfpAYoQ_AUIBygC#tbm=isch&q=hood+river+oregon" %>, meeting new people and growing in <%= link_to "diverse communities", "https://www.google.com/search?q=homer,+alaska&espv=2&biw=1141&bih=578&site=webhp&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiY--O6l-nJAhUUT2MKHYfpAYoQ_AUIBygC" %>. <br><br>

    I've long dabbled in web development and computer science, and in the fall of 2015, I started at <%= link_to "Ada Developer's Academy", "http://adadevelopersacademy.org/" %> where I'm growing and sharpening my skills as a web developer.<br><br>

    I look forward to using my <%= link_to "newly developed skills", projects_path %>to work on technologies that improve the world around me. 
  </div>
</div>
