<% content_for :top_content do %>
  <%= image_tag 'typewriter-greeting-no-period', class: 'img-responsive'  %>
<% end %>
<div class='row'>
  <div class="col-xs-12">
    <div class='front-page-text'>
      I'm a student at Ada Developer's Academy, where I'm learning the ways of Ruby on Rails and Javascript, with a dash of computer science concepts to help build a strong foundation. 
    </div>
  </div>
</div>
<div class="divider"></div>
<div class='row'>
<h2>some recent projects</h2>
  <div class='col-sm-4 col-md-4 col-lg-4'>
    <%= link_to 'http://rileysmagicaltasklist.herokuapp.com' do %>
      <%= image_tag 'TaskList.png', class: 'front-page-img img-responsive' %>
    <% end %> 
  </div>
  <div class='col-sm-4 col-md-4 col-lg-4'>
    <%= link_to 'http://get-sweaty.herokuapp.com' do %>
      <%= image_tag 'GetSweaty.png', class: 'front-page-img img-responsive' %>
    <% end %>
  </div>
  <div class='col-sm-4 col-md-4 col-lg-4'>
    <%= link_to 'http://tacocorn.herokuapp.com' do %>
      <%= image_tag 'TacoCorn.png', class: 'front-page-img img-responsive' %>
    <% end %>
  </div>
</div>