.row
  %h2 Recent Works in Progress
  = render 'divider'
.row.projects-row
  .col-sm-6.col-md-6.col-lg-6
    = link_to 'http://quartzy.herokuapp.com', :target => "_blank" do
      = image_tag 'quartzy.png', class: 'front-page-img img-responsive'
    %h3 Quartzy Shopping App - Dec 2015
    %p.text-center.project-description
      Four-person project.
      Translated user stories into manageable tasks on Trello board. Learned to use atomic transactions and more complex model interactions. 
    = render 'teeny_div'
    %h4.header_font.code-link= link_to "click here for the code", "https://github.com/Dreedle/betsy"
    = render 'teeny_div'
  .col-sm-6.col-md-6.col-lg-6
    = link_to 'http://curateTV.herokuapp.com', :target => "_blank" do
      = image_tag 'CurateTV.png', class: 'front-page-img img-responsive'
    %h3 CurateTV - Janaury 2015
    %p.text-center.project-description
      Four-person project.
      Learned how to consume APIs, use OAuth and OmniAuth for authorization.
      = render 'teeny_div'
    %h4.header_font.code-link= link_to "click here for the code", "https://github.com/TamarHershi/seemore"
    = render 'teeny_div'
.row
  = render 'divider'
.row
  .col-sm-12.col-md-12.col-lg-12
    %p
      At 
      = link_to "Ada Developer's Academy", "http://adadevelopersacademy.org"
      we create 2-4 projects per month, and we're developing our skills at a rapid pace. 
      This means that what I did a month ago is not representative of what I can do today, 
      and what I can do today will look a mess compared to what I can acheive by next week. 
      

